%table{:class => 'common-table zebra-striped'}
  %thead
    %th Nome Cliente
    %th Numero Tavolo
    %th Numero Persone
    %th Importo
    %th
    %th
    %th
    %th
    %th
  %tbody
    - orders.each do |order|
      %tr
        %td= order.client_name
        %td= order.table.number
        %td= order.people
        %td= format_price(order.total_price)
        %td= link_to 'Print', order_print_url(order.id)
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete
        - if not order.paid
          %td= link_to 'Paga', order_pay_path(order.id), confirm: 'Are you sure?', method: :put
        - else
          %td= link_to 'Non Pagato', order_unpay_path(order.id), confirm: 'Are you sure?', method: :put
  %tfoot
    %tr
      %td
      %td
      %td= people_sum
      %td= price_sum
      %td
      %td
      %td
      %td
      %td