- content_for :sidebar do
  = render :partial => 'shared/sidebar'

%h1 Vista Personale

%table.common-table{class: 'zebra-striped'}
  %tr
    %th Username
    %th/
    %th/
    %th/
  - @roles.each do |role|
    %tbody
      %tr
        %th{:colspan => 4}= role.name
      -@users_by_role[role.id].each do |user|
        %tr
          %td= user.username
          %td= link_to 'Mostra', user
          %td= link_to 'Modifica', edit_user_path(user)
          %td= link_to 'Elimina', user, confirm: 'Are you sure?', method: :delete

= link_to 'Nuovo Utente', new_user_path, :class => 'btn'
