- content_for :sidebar do
  = render :partial => 'shared/sidebar'

#tables
  - @tables.each_slice(7) do |tables|
    .row
      - tables.each do |table|
        = div_for(table, :class => "#{table.user ? 'occupied' : 'free'} span2 columns", :data => {:id => table.id, :waiter_id => table.user_id}) do
          %h1= table.number
          %p.waiter_username{:align => 'right'}= table.user.username if table.user
          %p.waiter_first_name{:align => 'right'}= table.user.first_name if table.user
          %p.waiter_last_name{:align => 'right'}= table.user.last_name if table.user
          =button_tag 'Libera', :class => 'btn free_table'

#waiters
  %table
    - @waiters.each do |waiter|
      = div_for(waiter, :data => {:id => waiter.id}) do
        %p
          %span#waiter_name="#{waiter.username} (#{waiter.first_name} #{waiter.last_name}): "
          %span#table_count=waiter.count_tables