- content_for :sidebar do
  = render :partial => 'shared/sidebar'

%h1 Listing courses

%table
  %thead
    %tr
      %th Nome
      %th Immagine
      %th Prezzo
      %th
      %th
      %th
  - @sorted_types.each do |course_type|
    %tbody
      %tr
        %th{:colspan => 7}
          %h2= course_type.name.capitalize
    - @courses_by_type[course_type].each do |course|
      %tr
        %td
          %h3= course.name
        %td
          = image_tag course.image_url if course.image?
        %td
          %h1= ("%.2f" % course.price).gsub(".",",")
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete
%br

  = link_to 'New Course', new_course_path, :class => 'btn'
