- content_for :sidebar do
  = render :partial => 'shared/sidebar'

- @courses.each do |course|
  .course{class: 'row well'}
    .span16{class: 'columns'}
      %h3=course.name
    - course.pending_orders.each_slice(4) do |orders|
      .row
        - orders.each do |order|
          .order{class: 'span4 columns'}
            - course_order = course.course_orders.find_by_course_id_and_order_id(course.id, order.id)
            %p numero richiesti
            %p= course_order.number_required
            %p numero cucinati
            %p.number_cooked= course_order.number_cooked
            %p numero rimasti
            %p.number_needed= course_order.number_needed
            %p numero tavolo
            %p= order.table.number
            %p nome cameriere
            %p= order.user.first_name
            %p ora creazione
            %p= order.created_at
            =button_tag "Servito", :class => 'btn serve', :data => {:course_id => course.id, :order_id => order.id}