!!!
%html
  %head
    %title TavernBooster
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .overlay
    .container-fluid
      .sidebar
        = yield :sidebar
      .content
        = yield